.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination-controls button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #005bcb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination-controls button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  .pagination-controls span {
    font-size: 16px;
    margin: 0 10px;
  }
  